In [1]:
import pandas as pd
import numpy as np
from scipy.stats import linregress 
from scipy.stats import sem
import matplotlib.pyplot as plt
import requests
import json

In [2]:
texas_salary = pd.read_csv("./Texas Salary/2024-04-01.csv")
texas_salary.columns

C:\Users\solan\AppData\Local\Temp\ipykernel_29084\2305409674.py:1: DtypeWarning: Columns (12,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  texas_salary = pd.read_csv("./Texas Salary/2024-04-01.csv")

Index(['AGENCY', 'AGENCY NAME', 'LAST NAME', 'FIRST NAME', 'MI', 'CLASS CODE',
       'CLASS TITLE', 'ETHNICITY', 'GENDER', 'EMPLOYEE TYPE', 'HIRE EATE',
       'RATE', 'HRSWKD', 'MONTHLY', 'ANNUAL', 'STATENUM', 'duplicated',
       'multiple_full_time_jobs', 'combined_multiple_jobs', 'hide_from_search',
       'summed_annual_salary'],
      dtype='object')

In [6]:
texas_salary

,AGENCY,AGENCY NAME,LAST NAME,FIRST NAME,MI,CLASS CODE,CLASS TITLE,ETHNICITY,GENDER,EMPLOYEE TYPE,...,RATE,HRSWKD,MONTHLY,ANNUAL,STATENUM,duplicated,multiple_full_time_jobs,combined_multiple_jobs,hide_from_search,summed_annual_salary
0,551.0,DEPARTMENT OF AGRICULTURE ...,LONA,MANUEL,,1934,PURCHASER V ...,HISPANIC,MALE,CRF - CLASSIFIED REGULAR FULL-TIME,...,0.00000,40.0,5565.00,66780.00,449.0,True,True,NaN,NaN,NaN
1,101.0,SENATE ...,KENNY,PAT,,7104,LEGISLATIVE PROFESSIONAL ...,WHITE,FEMALE,URF - UNCLASSIFIED REGULAR FULL-TIME,...,0.00000,41.0,5699.58,68394.96,37375.0,True,NaN,True,NaN,NaN
2,529.0,HEALTH AND HUMAN SERVICES COMMISSION ...,VEIT,ALICIA,E,1986,CONTRACT SPECIALIST V ...,WHITE,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,...,0.00000,40.0,6500.00,78000.00,47067.0,True,True,NaN,NaN,NaN
3,241.0,COMPTROLLER'S - JUDICIARY ...,SPECIA JR,JOHN,J,JD25,"JUDGE, RETIRED ...",WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,...,75.96150,29.0,9545.82,114549.84,59115.0,True,NaN,NaN,NaN,132249.96
4,212.0,OFFICE OF COURT ADMINISTRATION ...,SPECIA JR,JOHN,J,3524,GENERAL COUNSEL IV ...,WHITE,MALE,CTP - CLASSIFIED TEMPORARY PART-TIME,...,85.09676,4.0,1475.01,17700.12,59115.0,True,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tx_salary = texas_salary[['AGENCY NAME',
       'CLASS TITLE','EMPLOYEE TYPE',
       'RATE', 'HRSWKD', 'MONTHLY', 'ANNUAL',
       'summed_annual_salary']]

In [5]:
tx_salary['summed_annual_salary'].sum()

1166320.2